files:
    /usr/local/bin/fetch_emails_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/venv/bin/activate
            source /opt/python/current/env
            cd /opt/python/current/app
            python3 games.py -l web/log

    /etc/cron.d/fetch_emails_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            */3 * * * * root /usr/local/bin/fetch_emails_script.sh >> /var/app/current/logs/app.log 2>&1

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true