files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/job1.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/app/logs/app.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/job2.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /opt/python/current/app/logs/app.log
