.hot {
    font-style: italic;
    color: #ff5a36; /* Portland Orange */
}

a {
    /*color: #2A9E55;*/
    /*color:  #44d7a8;*/
    color: #055160;
    text-decoration: none;
}

a:hover {
    color: #b6effb;
}

div.checkabout {
    margin-top: 0;
    padding-top: 0;
    font-size: 0.8em;
}

div.row > div.icons > img {
    width: 40%;

    display: inline-block;
}

div.row > div.icons > img.div {
    width: 7%;
}

div.date {
    font-size:  0.8em;
}

.mention {
    font-size: 0.7em;
}

div.hotness {
    text-align: center;
}

div.hotness > img {
    margin-top: 0.8em;
    width: 60%;
}

div.points, div.gametitle {
    white-space: nowrap;
    text-align: center;
}

div.points:before, div.gametitle:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

div.points div.inner, div.gametitle div.inner {
    display: inline-block;
    vertical-align: middle;
    text-align:  left;
    width:  100%;
}

div.points div.inner b {
    font-size:  1.3em;
    line-height: 100%;

    display: block;
}

div.points div.inner span {
    font-size:  0.8em;
    line-height: 100%;   

    display: block;
}

div.gametitle div.inner span {
    font-size: 1.2em;
    line-height: 100%;   

    display: block;
}

@media only screen and (min-width: 768px) {
    div.hotness > img {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    div.hotness > img {
        margin-top:  1.8em; 
        width: 30%;
    }

    div.points div.inner b, div.points div.inner span {
        display: inline-block;
    }

    div.points div.inner span {
        font-size: 1em;
        padding-left: 0.6em;
    }
}

@media only screen and (min-width: 1200px) {
    div.hotness > img {
        margin-top:  1em; 
        width: 20%;
    }

    /*div.row > div.icons > img {
        width: 30%;

        display: inline-block;
    }

    div.row > div.icons > img.div {
        width: 5%;
    }*/
}

@media only screen and (min-width: 1400px) {
    div.row > div.icons > img {
        width: 20%;

        display: inline-block;
    }

    div.row > div.icons > img {
        width: 30%;

        display: inline-block;
    }

    div.row > div.icons > img.div {
        width: 5%;
    }

    div.row > div.icons > img.div {
        width: 5%;
    }

    div.gametitle div.inner span {
        display: inline-block;
    }

    div.gametitle div.inner span:nth-child(2):before {
        content: ' vs ';
        font-weight: bold;
        display: inline-block;
        padding: 0 0.3em;
    }
}